.contact-box {
  background: #ffa500;
}

.icon-circle {
  width: 45px;
  height: 45px;
  background: #fff;
  color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

iframe {
  min-height: 100%;
}

