<nav class="navbar navbar-expand-lg bg-body-secondary m-2">
  <div class="container-fluid">
    <!-- Logo -->
    <img
      src="assets/images/vivekanandpratishthan-100px-294x66.png"
      alt="Logo"
    />

    <!-- Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu -->
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a
          *ngFor="let item of navItems"
          class="nav-link"
          [routerLink]="item.path"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: item.exact ?? false }"
        >
          {{ item.label }}
        </a>
      </div>
    </div>
  </div>
</nav>
