<footer class="site-footer">

  <div class="footer-container">

    <!-- LEFT -->
    <div class="footer-about">
      <div class="logo-row">
        <img src="assets/images/footer.png" alt="Vivekanand Pratishthan" />
      
      </div>
      <p>
        Vivekanand Pratishthan has a unique approach to education.
        Instead of focusing solely on slates, notebooks, and books,
        our concept is more similar to the ancient ‘Gurukul’ system of India.
      </p>
    </div>

    <!-- CENTER -->
    <div class="footer-contact">
      <h4>Address</h4>
      <p>66, Suyog Colony, Jalgaon 425001</p>

      <h4>Contact</h4>
      <p>0257-2239014</p>
      <p>
        <a href="mailto:contact@vivekanandpratishthan.com">
          contact@vivekanandpratishthan.com
        </a>
      </p>
    </div>

    <!-- RIGHT -->
    <div class="footer-social">
      <h4>Social Media</h4>
      <div class="social-icons">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
      </div>
    </div>

  </div>

  <!-- COPYRIGHT -->
  <div class="footer-bottom fw-bold">
    COPYRIGHT © 2026 VIVEKANAND PRATISHTHAN |
    POWERED BY SARJANA MEDIA SOLUTIONS PVT LTD
  </div>

</footer>
