.site-footer {
  border-top: 1px solid #e5e7eb;
  padding-top: 40px;
  font-size: 14px;
}


.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 2fr 1.5fr 1fr;
  gap: 40px;
}

/* LEFT */
.footer-about h3 {
  color: #e11d2a;
  font-weight: 700;
  margin-left: 10px;
}

.logo-row {
  display: flex;
  align-items: center;
}

.logo-row img {
  height: 45px;
}

.footer-about p {
  margin-top: 15px;
  line-height: 1.6;
  color: #374151;
}

/* CENTER */
.footer-contact h4,
.footer-social h4 {
  color: #e11d2a;
  margin-bottom: 8px;
}

.footer-contact p {
  margin-bottom: 6px;
}

.footer-contact a {
  color: #111;
  text-decoration: none;
}

/* RIGHT */
.social-icons {
  display: flex;
  gap: 12px;
}

.social-icons i {
  font-size: 18px;
  color: #000;
}

/* COPYRIGHT */
.footer-bottom {
  margin-top: 40px;
  text-align: center;
  padding: 15px 10px;
  border-top: 1px solid #e5e7eb;
  font-size: 12px;
  color: #374151;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .logo-row {
    justify-content: center;
  }

  .social-icons {
    justify-content: center;
  }
}
